$small-min-width: 576px;
$medium-min-width: 768px;
$large-min-width: 992px;
$xlarge-min-width: 1200px;
$xxlarge-min-width: 1500px;

$small-max-container-width: 540px;
$medium-max-container-width: 720px;
$large-max-container-width: 960px;
$xlarge-max-container-width: 1140px;
$xxlarge-max-container-width: 1440px;


@media screen and (min-width: $small-min-width){
  .container{
    margin: 0 auto;
    max-width: $small-max-container-width;
  }
}
@media screen and (min-width: $medium-min-width){
  .container{
    max-width: $medium-max-container-width;
  }
}
@media screen and (min-width: $large-min-width){
  .container, .main-nav{
    max-width: $large-max-container-width;
  }
}
@media screen and (min-width: $xlarge-min-width){
  .container, .main-nav{
    max-width: $xlarge-max-container-width;
  }
}
@media screen and (min-width: $xxlarge-min-width){
  .container, .main-nav{
    max-width: $xxlarge-max-container-width;
  }
}
