footer {
  ul {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    padding-bottom: 10px;
    box-sizing: border-box;
    border-bottom: 1px solid #f1f2f2;
    li {
      font-size: 18px;
      list-style-type: none;
      margin-bottom: 6px;
      display: none;
      cursor: pointer;
      line-height: normal;
      &:first-child {
        display: block;
        position: relative;
        width: 100%;
        &:focus {
          outline: none;
        }
        &:after {
          content: "+";
          color: #9B9B9B;
          position: absolute;
          right: 0;
          top: -7px;
          font-size: 30px;
          font-weight: 300;
        }
      }
      strong {
        font-weight: 700;
        margin-bottom: 5px;
        display: inline-block;
      }
      a {
        color: #000000;
        text-decoration: none;
        &:hover, &:focus {
          color: #000000;
          text-decoration: none;
        }
      }
    }
    &.expanded li {
      &:first-child:after {
        content: "-";
        font-size: 50px;
        top: -22px;
      }
      display: block;
    }
  }
  .copyright {
    background: #F37122;
    text-align: center;
    line-height: 30px;
    color: #fff;
    font-size: 16px;
    span {
      display: block;
    }
    .container {
      padding: 10px;
      box-sizing: border-box;
    }
    a {
      color: #fff;
      text-decoration: none;
      font-size: 14px;
      font-weight: 300;
    }
  }
}

.search-form, .signup-form {
  position: relative;
}

.search-form input {
  &[type=text] {
    background: #FFFFFF;
    border: 1px solid #979797;
    border-radius: 3px;
    padding: 10px 35px 10px 10px;
    width: 100%;
    box-sizing: border-box;
    color: #8C8C8C;
    outline: none;
    font-size: 14px;
    line-height: 17px;
    &::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: #8C8C8C;
    }
    &::-moz-placeholder {
      /* Firefox 19+ */
      color: #8C8C8C;
    }
    &:-ms-input-placeholder {
      /* IE 10+ */
      color: #8C8C8C;
    }
    &:-moz-placeholder {
      /* Firefox 18- */
      color: #8C8C8C;
    }
  }
  &[type=submit] {
    width: 25px;
    background-image: url(https://www.tinypulse.com/hubfs/2018/homepage/search-icon.png);
    background-size: 100%;
    height: 25px;
    position: absolute;
    top: 8px;
    right: 9px;
    border: 0;
    background-color: transparent;
  }
}

footer .container div:nth-child(5) p {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 8px;
  margin-top: 20px;
  color: #8C8C8C;
}

.signup-form {
  width: 100% !important;
  .hs_email {
    width: 100% !important;
    .input {
      width: 100% !important;
    }
    background: #FFFFFF;
    border-radius: 3px;
    input[type=email] {
      height: 35px;
      outline: none;
      box-sizing: border-box;
      color: #8C8C8C;
      padding: 10px 70px 10px 10px;
      width: 100%;
      box-shadow: none;
      border: 1px solid #979797;
      font-size: 14px;
      line-height: 17px;
      max-width: 100%;
      &::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: #8C8C8C;
      }
      &::-moz-placeholder {
        /* Firefox 19+ */
        color: #8C8C8C;
      }
      &:-ms-input-placeholder {
        /* IE 10+ */
        color: #8C8C8C;
      }
      &:-moz-placeholder {
        /* Firefox 18- */
        color: #8C8C8C;
      }
    }
  }
  label {
    display: none !important;
  }
  .hs_submit {
    width: 60px !important;
    margin-left: 0 !important;
    background-size: 100%;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    .actions {
      padding: 0;
      margin: 0;
    }
  }
  input[type=submit] {
    color: #fff;
    font-weight: 300;
    background: #00C26B;
    height: 35px;
    box-sizing: border-box !important;
    border: 0;
    border-radius: 0 3px 3px 0;
    outline: none;
    padding-left: 12px;
    padding-right: 11px;
    -webkit-appearance: button;
    &:hover, &:active, &:focus {
      background: #009b55 !important;
      outline: none;
      border: 0 !important;
      box-shadow: none !important;
    }
  }
  .submitted-message {
    width: 100% !important;
  }
}

.hs-error-msgs {
  position: absolute;
}

.hs_error_rollup {
  display: none !important;
}

.hs-error-msgs label {
  display: block !important;
  color: #DC4D57 !important;
}

.social-links {
  padding-top: 20px;
  a {
    display: inline-block;
    margin-right: 15px;
  }
  img {
    height: 20px;
    width: auto;
  }
}

footer {
  .hs_terms_of_use_privacy_policy {
    width: 100% !important;
    margin-left: 0 !important;
    .inputs-list {
      padding: 0 !important;
      border-bottom: 0 !important;
    }
    .input {
      width: 100% !important;
    }
    label {
      display: block !important;
    }
  }
  .hs-form-booleancheckbox .hs-form-booleancheckbox-display {
    span {
      display: inline;
      vertical-align: top;
      color: #8C8C8C;
      font-size: 14px;
      font-weight: 400;
      a {
        font-size: 14px;
        text-decoration: underline !important;
        font-weight: 400;
      }
    }
    .hs-form-required {
      color: red;
    }
  }
  .hs_email.hs-email.hs-fieldtype-text.field.hs-form-field {
    margin-bottom: 8px !important;
  }
  .hs-form-booleancheckbox {
    &:after {
      display: none !important;
    }
    .hs-form-booleancheckbox-display .hs-input {
      margin-right: 5px;
      position: relative;
      top: -2px;
    }
  }
  .hs-error-msgs li:after {
    display: none !important;
  }
}

@media screen and (min-width: $large-min-width) {
  footer {
    padding-top: 60px;
    border-top: 1px solid #DADADA;
    .container {
      div {
        display: inline-block;
        vertical-align: top;
        margin: 0;
        border: 0;
        &:nth-child(1), &:nth-child(2) {
          width: 14%;
        }
        &:nth-child(4) {
          width: 13%;
          margin-left: 4%;
        }
        &:nth-child(3) {
          width: 24%;
        }
        &:nth-child(5) {
          width: calc(25% + 8px);
          margin-left: 3%;
        }
      }
    }
    ul {
      border-bottom: 0;
      li {
        margin-bottom: 5px;
        font-size: 14px;
        display: block;
        &:first-child:after {
          display: none;
        }
        a {
          font-weight: 300;
        }
        &.careers-at {
          width: 100px;
          a {
            line-height: 20px;
          }
        }
      }
    }
    .copyright {
      display: inline-block;
      width: 100%;
      clear: both;
      text-align: left;
      line-height: normal;
      .container {
        padding: 20px 0;
      }
      span {
        display: inline-block;
        &:first-child {
          width: 17%;
          text-align: left;
          + span {
            width: 59%;
            text-align: center;
            + span {
              width: 23%;
              font-weight: 300;
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
